* {
  box-sizing: border-box;
}

header {
  background: rgba(0, 0, 0, 0.8);
}

.container {
  width: 80vw;
  margin: auto;
}

.product {
  padding: 50px;
}
.product .product__content {
  background-color: rgba(29, 38, 113, 0.7);
  border-radius: 12px 12px 0 0;
}
.product .buton__content {
  background-color: #294d5c;
  color: rgba(255, 255, 255, 0.85);
  transition: 0.5s;
}
.product .content__buton i {
  transition: 0.5s;
}
.product .content__buton span {
  font-size: 15px;
}
.product .content__buton:hover .buton__content {
  background-color: white;
  color: #294d5c;
}
.product .content__buton:hover i {
  color: #294d5c;
}

footer {
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
}/*# sourceMappingURL=index.css.map */